<%= content_for :area_title, 'Dashboard' %>

<div id="main-dashboard">
  <%= render 'main_dashboard',
             resources_up: @resources_up,
             resources_down: @resources_down,
             logs: @logs,
             resources: @resources
  %>
</div>

<%= link_to '', dashboard_index_path, id: 'dashboard_page', remote: true, hidden: '' %>