<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<h1>One of your resources IS DOWN.</h1>

<h3>Resource ID: <%= @resource.id %></h3>
<h3>Resource URL: <%= @resource.url %></h3>
<h3>Resource STATUS: <%= @resource.status %></h3>


</body>
</html>